{% extends "base.html" %}
{% block title %}Team Tardis{% endblock %}
{% block content %}

<table class="table">
<a href="{{ url_for('member', name='Emeka') }}"><img src="{{ url_for('static', filename='emeka.jpeg') }}" alt="emeka" style="width:25%"></a>
<a href="{{ url_for('member', name='Callum') }}"><img src="{{ url_for('static', filename='callum.jpeg') }}"  alt="callum" style="width:25%"></a>
<a href="{{ url_for('member', name='Will') }}"><img src="{{url_for('static', filename='will.jpeg')}}" alt="will" style="width:25%"></a>
<a href="{{ url_for('member', name='Kevin') }}"><img src="{{url_for('static', filename='kevin.jpeg')}}" alt="kevin" style="width:25%"></a>
</table>
<p style="text-align:center;">Click on our images to find out more about us!</p>
{% endblock %}






